.App-bg {
  text-align: center;
  background-color: var(--body-color);
  min-width: 350px;
  /* min-height: 100vh; */
  padding-left: 7vmin;
  padding-right: 7vmin;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  border-right: 5px double var(--line);
  border-left: 5px double var(--line);
  display: grid;
}

.App-logo {
  height: 80px;
  width: auto;
  pointer-events: none;
}

.resetPopup {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.resetBtn {
  border: 3px double var(--accent);
  outline: none;
  border-radius: 5px;
  padding: 7px 13px;
  background-color: white;
  background-color: #79b3e039;
}

button.resetBtn:hover {
  border-color: #79b3e0;
  box-shadow: var(--box-shadow);
  background-color: #79b3e039;
}
