.card-holder {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

.card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  height: auto;
  display: flex;
  border: 2px solid rgb(164, 137, 47);
}

.card button > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.card button:hover {
  /* transition: 1.5s ease-in-out; */
  border: 2px double var(--accent);
  box-shadow: var(--box-shadow);
}
