.header {
  padding: 10px 0px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  align-items: end;
}

.marines {
  height: auto;
  width: 150px;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.horizontal {
  flex: 1;
  border-bottom: 3px double var(--line);
}

.vertical {
  border-left: 3px double var(--line);
  height: 50px;
}
