.header {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  border-bottom: 5px double var(--line);
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.vertical {
  border-left: 5px double var(--line);
  height: 50px;
}
